<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <title>Tarea</title>
    <link rel="stylesheet" href="/resources/css/upload.css">

</head>

<body>

    <%- include('./partials/header'); %>

    <!-- Para agregar -->
    <div class="container m-4 text-center">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addUploadModal"
            data-bs-whatever="@fat"><span class="material-icons">file_upload</span></button>
    </div>
    <!-- Modal para agregar -->
    <%- include('./partials/addUploadModal'); %>

    <table class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col" width=100>Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tarea</th>
                <th scope="col" width=100>Descargar</th>
                <th scope="col" width=100>Borrar</th>
            </tr>
        </thead>
        <tbody>

            <% for(let upload of uploads) { %>
                <tr>
                    <th scope="row" align="center" valign="middle">
                        <%= upload.id_upload %>
                    </th>
                    <td align="center" valign="middle">
                        <%= upload.student_name %>
                    </td>
                    <td align="center" valign="middle">
                        <%= upload.upload_name %>
                    </td>

                    <td align="center" valign="middle"> <a href="/uploads/download/<%= upload.id_upload %>"
                            class="btn btn-primary"
                            style="display: flex;align-items: center;justify-content: center;"><span
                                class="material-icons">file_download</span></a></td>

                    <td align="center" valign="middle"> <a href="/uploads/delete/<%= upload %>"
                            class="btn btn-danger"
                            style="display: flex;align-items: center;justify-content: center;"><span
                                class="material-icons">delete_forever</span></a></td>
                </tr>
                    <% } %>
        </tbody>
    </table>
    </section>

    <%- include('./partials/footer'); %>
    <script type="text/javascript" src="/resources/js/upload.js"></script>
</body>

</html>