<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>Checklist de eventos</title>
</head>

<body>

  <%- include('./partials/header'); %>

    <div class="row">
      <% for(let course of [courses]) { %>
        <a href="/curso/<%= course.id_course %>" class="col-lg-6 mb-4 btn">
          <div class="card bg-light shadow">
            <div class="card-header">
              <h1 class="text-center">
                <%= course.course_name %>
              </h1>
            </div>
          </div>
        </a>
        <% } %>
    </div>

    <%- include('./partials/footer'); %>
</body>

</html>