<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Categorias</title>
</head>

<body>

    <%- include('./partials/header'); %>
        <div class="col">
            <% for(let task of tasks) { %>
                <a href="/curso/<%= fkCourse %>/tarea/<%= task.id_task %>" class="col mb-4 btn" style="width: 49.7%;">
                    <%- include('./partials/listaEstudiantes', {task: task}) %>
                </a>
                <% } %>
        </div>
        <%- include('./partials/footer'); %>
</body>

</html>