<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <title>Tarea</title>
</head>

<body>

    <%- include('./partials/header'); %>

    <!-- Para agregar -->
    <div class="container m-4 text-center">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addTaskModal"
            data-bs-whatever="@fat"><span class="material-icons">add</span></button>
    </div>
    <!-- Modal para agregar -->

    <table class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col" width=100>Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tarea</th>
                <th scope="col" width=100>Editar</th>
                <th scope="col" width=100>Borrar</th>
            </tr>
        </thead>
        <tbody>

            <% for(let task of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18]) { %>
                <tr>
                    <th scope="row" align="center" valign="middle">
                        <%= task %>
                    </th>
                    <td align="center" valign="middle">
                        <%= task %>
                    </td>
                    <td align="center" valign="middle">
                        <%= task %>
                    </td>
                    <td align="center" valign="middle"> <a type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#editModal<%= task %>"
                            data-bs-whatever="@fat"
                            style="display: flex;align-items: center;justify-content: center;"><span
                                class="material-icons">edit</span></a> </td>

                    <td align="center" valign="middle"> <a href="/tasks/delete/<%= task %>"
                            class="btn btn-danger"
                            style="display: flex;align-items: center;justify-content: center;"><span
                                class="material-icons">delete_forever</span></a></td>
                </tr>
                    <% } %>
        </tbody>
    </table>
    </section>

    <%- include('./partials/footer'); %>

</body>

</html>